<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Subject</title>
  </head>
  <body>
    <form action="/students/<%=student.id%>/addSubject" method="post">
      <table>
        <thead>
          <tr>
            <th>Student Name</th>
            <th>Email</th>
            <th>Subject</th>
          </tr>
        </thead>
        
        <tbody>
          <tr>
          <td><%=student.getFullName()%></td>
          <td><%=student.email%></td>
          <td>
            <select name = "SubjectId">
              <%subjects.forEach(subject => { %>
                <option value="<%=subject.id%>"><%=subject.subject_name%></option>
              <%})%>
            </select>
          </td>
          </tr>
          <tr>
            <td><input type="submit" value="Tambah"></td>
          </tr>
        </tbody>
      </table>
    </form>
  </body>
</html>