<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit <%=result.first_name%> <%=result.last_name%></title>
  </head>
  <body>
    <form action="/students/edit/<%=result.id%>" method="post">
      <table>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
        </tr>
        <tr>
          <td><input type="text" name="first_name" value="<%=result.first_name%>"></td>
          <td><input type="text" name="last_name" value="<%=result.last_name%>"></td>
          <td><input type="text" name="email" value="<%=result.email%>"></td>
        </tr>
        <tr>
          <td colspan="3" align="right"><input type="submit" value="Edit"></td>
        </tr>
      </table>
    </form>
  </body>
</html>