<%- include("partials/header",{title:'Edit Student'}) %>
  <body>
    <table>
      <tr>
      <form class="" action="/students/edit/<%= rowsEdit.id %>" method="post">
        <td> First Name <br> <input type="text" name="first_name" value="<%= rowsEdit.first_name %>"> </td>
        <td>Last Name <br> <input type="text" name="last_name" value="<%= rowsEdit.last_name %>"></td>
        <td>Email <br> <input type="text" name="email" value="<%= rowsEdit.email %>"></td>
        <td><input type="submit" value="Submit"></td>
      </form>
    </tr>
    </table>
  </body>
</html>
