<%- include("partials/header",{title:'Enrolled Student'}) %>
<style type = "text/css">
  table {
    width : 30%;
  }
</style>
  <body>
    <h2> <%= rowsSubject.subject_name %> </h2>
    <h3><a href="/subjects">return to subject list</a></h2>
    <table border="1">
      <tr>
        <td> <strong> Name </strong> </td>
        <td> <strong> Score </strong></td>
      </tr>
      <% rowsStudent.forEach(function(list) { %>
        <tr>
          <td><%= list.first_name %> <%= list.last_name %> </td>
            <% if(list.StudentSubject.score != null) { %>
              <td> <%=list.StudentSubject.score %> </td>
            <% }else{ %>
                <td><a href="/subjects/<%=list.StudentSubject.id%>/givescore">Give Score</a></td>
            <% } %>
        </tr>
      <% }) %>
    </table>
  </body>
</html>
