<!DOCTYPE html>
<html>
<head>
	<title>Subject</title>
</head>
<body>
	<h1> <%= subject[0].Subject.subject_name %> </h1>
	<h4> <a href ="/subjects"> return to subject list</a>	</h4>	
	<table border="1" width="70%">
		<thead>
			<tr>
				<th> name </th>
				<th> score </th>
			</tr>
		</thead>
		<tbody>
			<% subject.forEach(student => {%>	
			<tr>
				<td> <%= student.Student.first_name %> <%= student.Student.last_name %></td>
				<% if (student.score == null) {%>
				<td><a href="/subjects/<%= student.id %>/givescore"> Give Score </a></td>
				<%}else{%>
				<td> <%= student.score %> </td>
				<%}%>
			<%})%>
			</tr>	
		</tbody>	
	</table>	
</body>
</html>