<% include partials/head%>

    <body>
        <header>
            <% include partials/menu%>
                <h3>Add Score</h3>
        </header>
        <%= message%>
            Subject :
            <%= dataStudentSubject.Subject.subject_name%> <br> Student Name :
                <%= dataStudentSubject.Student.first_name%>
                    <%= dataStudentSubject.Student.last_name%> <br>
                        <div class="main-form">
                            <form action="/subjects/<%= dataStudentSubject.id%>/givescore" method="POST">
                                Score : <br>
                                <input name="score" type="text" placeholder="Score" />
                                <input name="idSubject" type="hidden" placeholder="Score"  value="<%= dataStudentSubject.idSubject%>"/>
                                <input type="submit" value="Add Score">
                            </form>
                        </div>
    </body>

    </html>