<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Students</title>
  </head>
  <body>
    <h1>Students Data</h1>
    <table border=1>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <% for(let i = 0; i < studData.length; i++){ %>
        <tr>
          <td><%= studData[i].id %></td>
          <td><%= studData[i].first_name %></td>
          <td><%= studData[i].last_name %></td>
          <td><%= studData[i].email %></td>
          <td><a href="students/edit/<%=studData[i].id%>">Edit</a></td>
          <td><a href="students/delete/<%=studData[i].id%>">Delete</a></td>
        </tr>
        <% } %>
    </table>
      <a href="students/add">Add Student</a>
  </body>
</html>