<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Students</title>
  </head>
  <body>
    <h1>Students Data</h1>
    <table border="1">
      <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
      <% students.forEach(s=>{ %>
        <tr>
          <td><%= s.id %></td>
          <td><%= s.first_name %></td>
          <td><%= s.last_name %></td>
          <td><%= s.getFullName() %></td>
          <td><%= s.email %></td>
          <td><a href="/students/edit/<%= s.id %>">Edit</a> | <a href="/students/delete/<%= s.id %>" onclick="return confirm('Delete this student?')">Delete</a></td>
        </tr>
      <% }) %>
    </table>
    </br><a href="/students/add">add student</a>
  </body>
</html>