<%- include partial/headerWithMenubar%>
    <h2>Edit Student Data</h2>
    <form class="" action="" method="post">
      <input type="text" name="first_name" value="<%=edit.first_name%>">
      <input type="text" name="last_name" value="<%=edit.last_name%>">
      <input type="text" name="email" value="<%=edit.email%>">
      <input type="submit" value="Edit Student">
    </form>
<%- include partial/footer%>
