<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Students</title>
</head>

<body>
    <a href="/students/add">Add</a>
    <table border="1">
        <tr>
            <td>No</td>
            <td>Name</td>
            <td>Email</td>
            <td>Action</td>
        </tr>
        <% 
    
     let no = 1;

     dataStudents.forEach(rows => { 
        
    %>

            <tr>
                <td>
                    <%= rows.id %>
                </td>
                <td>
                    <%= rows.getFullname() %>
                </td>
                <td>
                    <%= rows.email %>
                </td>
                <td>
                    <a href="/students/edit/<%= rows.id %>">Edit</a> | <a href="/students/delete/<%= rows.id %>">Delete</a>
                </td>
            </tr>

            <% 

    no++;

    });
    
    %>
    </table>
</body>

</html>