  <%- include('assets/partials/nav-bar',{my_title:'Edit Student - SchoolApp', folder:'../../'})%>

  <div class="container">

    <div style="text-align:center; margin-bottom:8%;">
      <p class="title is-2">EDIT STUDENT DATA</p>
      <p class="subtitle is-4"><a href="/students">show all table students</a></p>
    </div>

    <form action="/students/edit/<%=data_Students.id%>" method="post">
      <div class="field">
        <label class="label">First Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" name="first_name" value="<%=data_Students.first_name%>">
        </div>
      </div>
      <div class="field">
        <label class="label">Last Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" name="last_name" value="<%=data_Students.last_name%>">
        </div>
      </div>
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" name="email" value="<%=data_Students.email%>">
        </div>
      </div>

      <div style="text-align: center; margin-top:33px;" class="control">
          <!-- <button type="submit" value="Submit" class="button is-primary">Submit</button> -->
          <input class="button is-success is-outlined is-medium" type="submit" value="Submit input">
          <input class="button is-success is-outlined is-medium" type="reset" value="Reset input">
        </div>
    </form>
  </div>

</body>
</html>
