<%- include("partials/header",{title:'Teachers'}) %>
  <body>
      <h3> <a href="/teachers/add/"> Add Teacher </a> </h3>
    <table border="1">
      <tr>
        <td><strong> ID </strong></td>
        <td><strong> First Name </strong></td>
        <td><strong> Last Name </strong></td>
        <td><strong> Email </strong></td>
        <td><strong> Subject Id </strong></td>
        <td><strong> Subject </strong></td>
      </tr>
      <% rowsTeacher.forEach(function(list) { %>
        <tr>
          <td><%= list.id%></td>
          <td><%= list.first_name%></td>
          <td><%= list.last_name%></td>
          <td><%= list.email%></td>
          <td><%= list.SubjectId%></td>
          <% if(list.Subject != null){ %>
            <td><%= list.Subject.subject_name%></td>
          <%}else{%>
            <td> Unassigned </td>
          <% } %>

          <td><a href="/teachers/edit/<%= list.id%>"> EDIT </a></td>
          <td><a href="/teachers/delete/<%= list.id%>"> DELETE </a></td>
        </tr>
      <% }) %>
    </table>
  </body>
</html>
