<% include partials/head %>

    <body>
        <header>
            <% include partials/menu%>

                <h3>Teachers Data</h3>
        </header>


        <div class="main-table">
            <table>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Subject</th>
                    <th colspan="2">Action</th>
                </tr>
                <% dataTeachers.forEach((teacher)=>{%>
                    <tr>
                        <td>
                            <%= teacher.id%>
                        </td>
                        <td>
                            <%= teacher.first_name%>
                        </td>
                        <td>
                            <%= teacher.last_name%>
                        </td>
                        <td>
                            <%= teacher.email %>
                        </td>
                        <% if(teacher.Subject) {%>
                        <td>
                            <%= teacher.Subject.subject_name%>
                        </td>
                            <%}else {%>
                        <td>
                            unassigned
                        </td>
                        <%}%>
                        <td>
                           <a href="/teachers/edit/<%= teacher.id%>"> Edit</a>
                        </td>
                        <td>
                            <a href="/teachers/delete/<%= teacher.id%>">Delete</a>
                        </td>




                        <%})%>
                    </tr>
            </table>
        </div>
    </body>



    </html>