<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Teacher</title>
    <style media="screen">
      div{
        text-align: center;
      }
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }

      form{
        text-align: center;
        padding: 20px
      }

    </style>
  </head>
  <body>
    <div class="">
      <h2>All Data Teachers</h2><br>
      <a href="/teacher/add/">Add Teacher Data</a>
    </div>
    <table>
      <thead>
        <tr>
          <td>NO</td>
          <td>ID</td>
          <td>FIRST NAME</td>
          <td>LAST NAME</td>
          <td>EMAIL</td>
          <td>SUBJECT</td>
          <td>OPTIONS</td>
        </tr>

          <%teacher.forEach((dt,index) =>{ %>
            <tr>
            <td><%=`${index+1}`%></td>
            <td><%=dt.id%></td>
            <td><%=dt.first_name%></td>
            <td><%=dt.last_name%></td>
            <td><%=dt.email%></td>
            <% if (dt.subject == null){ %>
              <td>Unassigned</td>
            <% } %>
            <% if (dt.subject != null){%>
              <td><%=dt.subject.subject_name%></td>
            <% } %>
            <td><a href="/teacher/edit/<%=dt.id%>">Edit</a>  ||
            <a href="/teacher/delete/<%=dt.id%>">Delete</a></td>

            </tr>
          <% })%>


      </thead>
    </table>
  </body>
</html>
