<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Teacher</title>
  </head>
    <style media="screen">
    table, th, td {
    border: 1px solid black;
    }
    </style>
  <body>
    <table>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Subject</th>
        <th>action</th>
      </tr>
        <% let i = 1 %>
        <% rows.forEach(function(row){ %>
      <tr>
        <td> <%= row.id %> </td>
        <td> <%= row.first_name %> </td>
        <td> <%= row.last_name %> </td>
        <td> <%= row.email %> </td>
        <td> <% if(row.SubjectId == null){ %>
             <%= 'unassigned' %>
        <% } else { %>
          <%= row.subject.subject_name %>
          <% } %>
        </td>
        <td> <a href="/teacher/edit/<%=row.id%>"> edit</a> <a href="/teacher/delete/<%=row.id%>">delete</a> </td>
        <% i++ %>
        <% }) %>
        <a href="/teacher/add" class="btn btn-default">add Teacher</a>
      </tr>
    </table>
  </body>
</html>
