  <%- include('assets/partials/nav-bar',{my_title:'Edit Teacher - SchoolApp', folder:'../../'})%>

  <div class="container">

    <div style="text-align:center; margin-bottom:8%;">
      <p class="title is-2">EDIT TEACHER DATA</p>
      <p class="subtitle is-4"><a href="/teachers">show all table teacher</a></p>
    </div>

    <form action="/teachers/edit/<%=data_teachers.id%>" method="post">
      <div class="field">
        <label class="label">First Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" name="first_name" value="<%=data_teachers.first_name%>">
        </div>
      </div>
      <div class="field">
        <label class="label">Last Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" name="last_name" value="<%=data_teachers.last_name%>">
        </div>
      </div>
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" name="email" value="<%=data_teachers.email%>">
        </div>
      </div>
      <div class="field">
        <label class="label">Subject</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select name="SubjectId">
              <% for(let i=0; i<data_Subjects.length; i++) {%>
                <%
                  let selected = ''
                  if(data_teachers.SubjectId == data_Subjects[i].id){
                    selected = "selected"
                  }
                %>
                <option value="<%=data_Subjects[i].id%>" <%=selected%>><%=data_Subjects[i].subject_name%></option>
              <%}%>
            </select>
          </div>
        </div>
      </div>

      <div style="text-align: center; margin-top:33px;" class="control">
        <input class="button is-success is-outlined is-medium" type="submit" value="Submit input">
        <input class="button is-success is-outlined is-medium" type="reset" value="Reset input">
      </div>
    </form>
  </div>

</body>
</html>
