<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Teacher</title>
    <style media="screen">
      div{
        text-align: center;
      }
      table {
      border-collapse: collapse;
      width: 100%;
      padding: 20px
    }

    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
      }
    form{
      text-align: center;
      padding: 20px
    }
    </style>
  </head>
  <body>
    <div class="">
      <h2>All Data Teachers</h2><br>
      <a href="/teacher/add/">Add Teacher Data</a>
    </div>
    <table>
      <thead>
        <tr>
          <td>ID</td>
          <td>FIRST NAME</td>
          <td>LAST NAME</td>
          <td>EMAIL</td>
          <td>SUBJECT</td>
          <td>OPTIONS</td>
        </tr>

          <%teacher.forEach(dt =>{ %>
            <tr>
            <td><%=dt.id%></td>
            <td><%=dt.first_name%></td>
            <td><%=dt.last_name%></td>
            <td><%=dt.email%></td>
            <% if (dt.subject == null){ %>
              <td>Unassigned</td>
            <% } %>
            <% if (dt.subject != null){%>
              <td><%=dt.subject.subject_name%></td>
            <% } %>
            <td><a href="/teacher/edit/<%=dt.id%>">Edit</a>  ||
            <a href="/teacher/delete/<%=dt.id%>">Delete</a></td>

            </tr>
          <% })%>


      </thead>
    </table>
  </body>
</html>
