<!DOCTYPE html>
<html>
  <%include ../partial/head.ejs%>
  <body>
    <div class="ui container" style="margin-top:3em;">
      <h1><%=title%></h1>
      <%include ../partial/menu.ejs%>
      <table style="font-size:15px;">
        <tr>
          <td>First Name</td>
          <td>:</td>
          <td><%=student.first_name%></td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td>:</td>
          <td><%=student.last_name%></td>
        </tr>
        <tr>
          <td>Email</td>
          <td>:</td>
          <td><%=student.email%></td>
        </tr>
      </table>
      <form action="/students/<%=student.id%>/addsubject" method="post">
        <select name="SubjectId">
          <option value="">-select subject</option>
          <%subjects.forEach(subject => {%>
            <option value="<%=subject.id%>"><%=subject.subject_name%></option>
          <%})%>
        </select>
        <br>
        <input class="ui primary button" type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
