<!DOCTYPE html>
<html>
  <%include ../partial/head.ejs%>
  <body>
    <table>
      <tbody>
        <tr>
          <th>ID</th>
          <th>Fisrt Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Option</th>
          <th>Full Name</th>
        </tr>
      </tbody>
      <tbody>
        <%students.forEach(student => {%>
          <tr>
            <td><%=student.id%></td>
            <td><%=student.first_name%></td>
            <td><%=student.last_name%></td>
            <td><%=student.email%></td>
            <td><%=student.getFullname()%></td>
            <td>
              <a href="/students/edit/<%=student.id%>">edit</a>
              <a href="/students/delete/<%=student.id%>">delete</a>
            </td>
          </tr>
        <%})%>
      </tbody>
    </table>
    <a href="/students/add">add new</a>
  </body>
</html>
