<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Students Page</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/teachers">Teachers</a>
    <a href="/subjects">Subjects</a>
    <a href="/students">Students</a>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Full Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% dataStudents.forEach(data => { %>
          <tr>
            <td><%= data.id %></td>
            <td><%= data.first_name %></td>
            <td><%= data.last_name %></td>
            <td><%= data.getFullName() %></td>
            <td><%= data.email %></td>
            <td>
              <a href="/students/edit/<%= data.id %>">Edit</a>
              <a href="/students/delete/<%= data.id %>">Delete</a>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    <a href="/students/add">Add Student</a>
  </body>
</html>
