<!DOCTYPE html>
<html>
  <%include ../partial/head.ejs%>
  <body>
    <div class="ui container" style="margin-top:3em;">
      <h1><%=title%> List</h1>
      <%include ../partial/menu.ejs%>
      <div class="column">
        <table class="ui celled selectable right aligned table">
          <thead class="left aligned">
            <th class="center aligned one wide">NO</th>
            <th class="center aligned one wide">ID</th>
            <th>Fisrt Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Full Name</th>
            <th class="center aligned three wide">Option</th>
          </tr></thead>
          <tbody class="left aligned">
            <%students.forEach((student,i) => {%>
              <tr>
                <td class="center aligned"><%=i+1%></td>
                <td class="center aligned"><%=student.id%></td>
                <td><%=student.first_name%></td>
                <td><%=student.last_name%></td>
                <td><%=student.email%></td>
                <td><%=student.getFullname()%></td>
                <td class="center aligned">
                  <div class="ui buttons">
                    <a class="ui blue button" href="/students/edit/<%=student.id%>">Edit</a>
                    <div class="or"></div>
                    <a class="ui red button" href="/students/delete/<%=student.id%>">Delete</a>
                  </div>
                </td>
              </tr>
            <%})%>
          </tbody>
          <tfoot class="full-width">
            <tr>
              <th colspan="6">
                <a href="/students/add">
                  <div class="ui left floated small primary labeled icon button">
                    <i class="user icon"></i> Add Student
                  </div>
                </a>
              </th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </body>
</html>
