<%-include('../partials/header')%>
<%-include('../partials/menu')%>

<div class="container">
  <h2>Data Student</h2> 
    <h5><a href="/students/add" class="btn btn-primary" role="button">Add Students</a></h5>      
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Fullname</th>
        <th>Email</th>
        <th>Actions</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
    <%students.forEach(student => {%>
      <tr>
        <td><%=student.id%></td>
       	<td><%=student.first_name%></td>
        <td><%=student.last_name%></td>
        <td><%=student.getFullname()%></td>
        <td><%=student.email%></td>
        <td><a href="/students/<%=student.id%>/add_subject" class="btn btn-primary" role="button">Add Subject</a></td>
        <td>
          <a href="/students/edit/<%=student.id%>" class="btn btn-primary" role="button">Edit</a> | 
          <a href="/students/delete/<%=student.id%>" class="btn btn-primary" role="button">Delete</a>
        </td>
      </tr>
    <%})%>
    </tbody>
  </table>
</div>
<%-include('../partials/footer')%>