<%include ../partials/navbar.ejs%>


<div class="ui container">

  <h1>Students</h1>
  <a href="/students/add"><button class="ui basic button"><i class="icon user"></i>Add</button></a>


    <table class="ui single line celled table">
      <thead>
          <tr>
              <th>ID</th>
              <th>Full Name</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Option</th>
          </tr>
      </thead>

      <tbody>
        <%dataStudents.forEach(item =>{%>
          <tr>
              <td><%=item.id%></td>
              <td><%=item.getFullName()%></td>
              <td><%=item.first_name%></td>
              <td><%=item.last_name%></td>
              <td><%=item.email%></td>
              <td>
              <a href="/students/<%=item.id%>/addsubject">Add Subject</a> ||
              <a href="/students/edit/<%=item.id%>"><i class="edit icon"></i></a> ||
              <a href="/students/delete/<%=item.id%>"> <i class="remove user icon" onclick="myFunction()"></i></a>
              </td>
          </tr>

        <%})%>
      </tbody>

  </table>
</div>
  <script type="text/javascript">
  function myFunction(){
  if (window.confirm("Do you really want to delete?")) {
      }
    }
  </script>
  </body>
</html>
