<%- include ../partials/header %>
  <body>
    <%- include ../partials/navbar %>
    <h2><%= dataSubject.subject_name %></h2>
    <table>
      <thead>
        <tr>
          <th>No</th>
          <th>ID Stud</th>
          <th>Student Name</th>
          <th>Score</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% dataStudentSubject.forEach((student, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= student.StudentId %></td>
            <td><%= student.fullName %></td>
            <td>
              <% if(student.score) { %>
                <%= student.score %>
              <% } else { %>
                <a href="/subjects/<%= student.id %>/givescore">Give Score</a>
              <% } %>
            </td>
            <td>
              <% if(student.score) { %>

              <% } else { %>
                  Empty
              <% } %>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
