<%-include('../partials/header')%>
<%-include('../partials/menu')%>

<div class="container">
  <h2>Subject Data</h2>        
  <table class="table table-striped" width="40">
    <thead>
      <tr>
        <th>No</th>
        <th>Students Name</th>
        <th>Score</th>
        <th>Desc</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <%subjects.Students.forEach(student => {%>
          <td><%=student.id%></td>
         	<td><%=student.first_name%> <%=student.last_name%></td>
          <td>
            <%if(student.StudentSubject != null){%>
              <%=student.StudentSubject.score%>
            <%}else{%>
              <a href="/subjects/<%=subjects.id%>/<%=student.id%>/givescore" class="btn btn-primary" role="button">Give Score</a>
            <%}%>
          </td>
        <%})%> 
    </tbody>
  </table>
</div>
<%-include('../partials/footer')%>