<%-include('../partials/header')%>
<%-include('../partials/menu')%>

<div class="container">
  <h2>Subject Data</h2>        
  <table class="table table-striped" width="40">
    <thead>
      <tr>
        <th>No</th>
        <th>Students Name</th>
        <th>Score</th>
        <th>Desc</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <%students.forEach(student => {%>
          <td><%=student.id%></td>
         	<td><%=student.first_name%></td>
        <%})%> 
        <td>
          <a href="/subjects/<%=subject.id%>/enrolledstudents" class="btn btn-primary" role="button">Enrolled Students</a>
        </td>
    </tbody>
  </table>
</div>
<%-include('../partials/footer')%>