<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Give Score</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/teachers">Teachers</a>
    <a href="/subjects">Subjects</a>
    <a href="/students">Students</a>

    <br><br>
    <form class="" action="/subjects/<%= dataSubject.id %>/<%= dataStudent.id %>/givescore" method="post">
      <label for="">Student Name: </label>
      <input type="text" name="StudentId" value="<%= dataStudent.id %>" hidden><%= dataStudent.getFullName() %><br>
      <br>
      <label for="">Subject Name: </label>
      <input type="text" name="SubjectId" value="<%= dataSubject.id %>" hidden><%= dataSubject.subject_name %><br>
      <br>
      <label for="">Score: </label>
      <input type="text" name="score" placeholder="ex: 0 - 100"><br>
      <br>
      <input type="submit" name="" value="Submit">
    </form>
  </body>
</html>
