<%include ../partials/navbar.ejs%>

  <div class="ui container">
    <h1><a href="/subjects">Subjects</a></h1>

    <a href="/subjects/add"><button class="ui basic button"><i class="icon user"></i>Add</button></a>


    <table class="ui line celled table">
      <thead>
          <tr>
              <th>No</th>
              <th>ID</th>
              <th>Subject</th>
              <th>Teachers</th>
              <th>Option</th>
          </tr>
      </thead>

      <tbody>
        <%dataSubjects.forEach((item, index) =>{%>
          <tr>
              <td><%=index + 1%></td>
              <td><%=item.id%></td>
              <td><%=item.subject_name%></td>
              <td><%=item.Teachers%></td>
              <td>
                <a href="/subjects/<%=item.id%>/enrolledStudent">Enrolled Student</a> ||
                <a href="/subjects/edit/<%=item.id%>"><i class="edit icon"></i></a> ||
                <a href="/subjects/delete/<%=item.id%>"> <i class="remove user icon"></i></a>
              </td>
          </tr>

        <%})%>
      </tbody>
  </table>
  </div>
  </body>
</html>
