<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Students</title>
</head>
<body>
    <div class="header">
        <h1>Students List</h1>
    </div>
    <a href="/students/add">Tambah Murid</a>
    <div class="content">
        <%if(studentRows.length === 0){%>
            <div class="empty">
                <span>Kosong</span>
            </div>
        <%}else{%>
            <table border="1">
                <tr>
                    <td>ID</td>
                    <td>Nama Depan</td>
                    <td>Nama Belakang</td>
                    <td>Nama Lengkap</td>
                    <td>Alamat Email</td>
                    <td>Action</td>
                </tr>
                <%studentRows.map((value)=>{%>
                <tr>
                    <td><%=value.id%></td>
                    <td><%=value.dataValues.first_name%></td>
                    <td><%=value.dataValues.last_name%></td>
                    <td><%=value.dataValues.fullname%></td>
                    <td><%=value.dataValues.email%></td>
                    <td>
                        <a href="/students/edit/<%=value.dataValues.id%>">Edit</a>
                        <a href="/students/delete/<%=value.dataValues.id%>">Hapus</a>
                    </td>
                </tr>
                <%})%>
            </table>
        <%}%>
    </div>
</body>
</html>
