<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Teachers</title>
</head>
<body>
    <div class="header">
        <h1>Teachers List</h1>
    </div>
    <a href="/teachers/add">Tambah Guru</a>
    <div class="content">
        <%if(teachersRows.length === 0){%>
            <div class="empty">
                <span>Kosong</span>
            </div>
        <%}else{%>
            <table border="1">
                <tr>
                    <td>No</td>
                    <td>Nama Depan</td>
                    <td>Nama Belakang</td>
                    <td>Alamat Email</td>
                    <td>Subject</td>
                    <td>Action</td>
                </tr>
                <%teachersRows.map((value,i)=>{%>
                <tr>
                    <td><%=i + 1%></td>
                    <td><%=value.first_name%></td>
                    <td><%=value.last_name%></td>
                    <td><%=value.email%></td>
                    <td><%=value.subject%></td>
                    <td>
                        <a href="/teachers/edit/<%=value.id%>">Edit</a>
                        <a href="/teachers/delete/<%=value.id%>">Hapus</a>
                    </td>
                </tr>
                <%})%>
            </table>
        <%}%>
    </div>
</body>
</html>
